body {
	background: #153A54;
}

@mixin list {
	
	ul {
		font-family: 'ColaborateMediumRegular', Arial, sans-serif;
	}

	li {
		margin-left: 2em;
		font-size: 110%;
		font-family: 'ColaborateMediumRegular', Arial, sans-serif;
	}
}

@mixin table {
	
	table {
		font-family: 'ColaborateMediumRegular', Arial, sans-serif;
		font-size: 130%;
		margin-top: 2em;
		width: 100%;
	}

	th {
		font-size: 90%;
	}

	.percent-change-positive {
		color: #41AD49;
	}

	.percent-change-negative {
		color: #DC143C;
	}

}

@mixin numberCircle {

	.numberCircle {
		-webkit-border-radius: 999px;
	    -moz-border-radius: 999px;
	    border-radius: 999px; 
	    behavior: url(PIE.htc); 
	    
	    text-align: center;
	    
	    font-family: 'Francois One', sans-serif;
		font-weight: bold;
		font-size: 300%;
	}

}

@mixin numberCircleLife {

	.numberCircle {
		-webkit-border-radius: 999px;
	    -moz-border-radius: 999px;
	    border-radius: 999px; 
	    behavior: url(PIE.htc); 

	    width: 168px;
	    height: 168px;
	    line-height: 115px;
	    background: #18557f;
	    color: #ffffff;
	    
	    text-align: center;
	    
	    font-family: 'Francois One', sans-serif;
		font-weight: bold;
		font-size: 300%;
		margin-top: 0.3em;
		margin-left: 0.3em;
	}

}

@mixin moreInfo($color) {
	
	.more-info a {
		color: $color;
		font-family: 'Francois One', sans-serif;
		font-size: 70%;
		margin-top: 0.3em;
	}

	.more-info a:hover {
		font-size: 60%;		
		font-weight: bold;
	}

}

@mixin quicklinks{
	
	ul {
		margin-top: 1.5em;
	}

	.no-bullet li{
		margin-top: 0.5em;
	}

	a {
		font-family: 'ColaborateMediumRegular', Arial, sans-serif;
		font-size: 120%;
		color: #2f7ed8;
		margin-left: 0.3em;
	}


} 

@mixin navbar {
	
	height: 75px;
	background: #0B1F36;
	margin-bottom: 0em;

	.logo img {
		padding-top: 0.7em;
	}

	p {
		color: #ffffff;
		padding-top: 1.4em;
		font: 18px/27px 'ColaborateThinRegular', Arial, sans-serif;
	}

	form {
		font: 18px/27px 'ColaboratediumRegular', Arial, sans-serif;
	}

	.nav-dropdown {
		padding-top: 1.05em;
	}

}

@mixin lifeCareerModal {

	 .description {
		font-size: 40%;
		margin-top: -1.8em;
		line-height: 100%;
	}
	
	.lifeCareer-points {
		margin-top: 2em;
		font-size: 110%;
		font-family: 'ColaborateMediumRegular', Arial, sans-serif;
	}

	.lifeCareer-points p {
		margin-bottom: -0.9em;
		font-size: 130%;
		font-family: 'ColaborateBoldRegular', Arial, sans-serif;
	}

	.lifeCareer-points li {
		margin-left: 1.3em;
	}	

}

@mixin flyFishingModal {

	
	ul {
		font-family: 'ColaborateMediumRegular', Arial, sans-serif;
		margin-bottom: 1em;
	}


	.flyfishing-points {
		margin-top: 2em;
		font-size: 110%;
		font-family: 'ColaborateMediumRegular', Arial, sans-serif;
	}

	.flyfishing-points p {
		margin-bottom: -0.9em;
		font-size: 130%;
		font-family: 'ColaborateBoldRegular', Arial, sans-serif;
	}

	.flyfishing-points li {
		margin-left: 1.3em;
	}
}

.top-bar {
	@include navbar;
}

#dash-subheader {
	background: #18557F;
	font-family: 'Francois One', sans-serif;
}

#program-name {
	color: #ffffff;
	font-size: 180%;
	padding-top: 0.7em;
	padding-bottom: 0.5em;
}

#student-search {
	padding-top: 1em;
	font: 18px/27px 'ColaborateMediumRegular', Arial, sans-serif;
}


@mixin main-header-group($border: solid #F0A350, $border-width: 5px 0 0) {
	
	.main-header {
		font-family: 'Francois One', sans-serif;
		background-color: #18557F;
		color: #ffffff;
		font-size: 180%;
		padding-left: 0.5em;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		margin-top: -1.5em;
		margin-left: 0.5em;
		z-index: 1;
		width: 80%;
	}
	
	.main-header-group {
		margin-top: 2em;
	}

	hr {
		border: $border;
		border-width: $border-width;
		/*margin: 2em -0.4em 1.1875em;*/
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}


}

#demographics {
	background: #E9E9E9;
	height: 900px;	
	@include moreInfo(#323232);
	@include main-header-group;
}

#content-area {
	background: #F0A350;
	height: 900px;
	@include moreInfo(#ffffff);	
	@include main-header-group(solid #F2BD84,0.32em 0 0);
}

#content-learnt {
	@include numberCircle;
}


@mixin basic-stats {
	
	margin-top: 1em;
	border: none;
	background: none;
	margin-left: auto;
	margin-right: auto;

	tr th {
		padding: 0em 0.625em;
	}

	#table-stats {
		color: #153A54;
		font-size: 300%;
		font-weight: bold;
		font-family: 'Francois One', sans-serif;
		background-color: #E9E9E9;
		border-bottom: none;
	}
	
	#table-stats-description {
		color: #153A54;
		font: 18px/27px 'ColaborateMediumRegular', Arial, sans-serif;
		background-color: #E9E9E9;
	}

}

#basic-stats {
	@include basic-stats;
}

.sub-header {
	color: #153A54;
	font-family: 'Francois One', sans-serif;
	font-size: 130%;
	letter-spacing:1px;
}

#demographics .sub-header-section hr {
	border: solid #F0A350;
	border-width: 2px 0 0;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -0.5em;
	margin-bottom: 0.5em;
}

#genderbar {
	margin-bottom: 0.5em;
}


#racepie {
	margin-bottom: 0.5em;
}


#content-area .sub-header-section {
	margin-top: 1em;
}


@mixin white-text {
	color: #ffffff;
	font-family: 'Francois One', sans-serif;
	font-size: 18px;
}

.circle-description {
	@include white-text;
	line-height: 100%;
	margin-top: 2em;
}

#stem-circle-section {
	margin-top: 1em;
	@include numberCircle;
}

@mixin life-career-skills {

	margin-top: 1em;
	margin-left: -0.5em;

	hr {
		width: 80%;
		margin-left: 0.8em;
	}

	.stat {
		color: #ffffff;
		font-family: 'ColaborateBoldRegular', Arial, sans-serif;
		font-size: 550%;
		margin-left: -0.7em;
	}

	.description {
		@include white-text;
		margin-top: 0em;
	}

	table{
		background: #F0A350;
		border: #F0A350;
	}

	table tr td {
		padding-top: 3.5em;
	}

	table tr:nth-of-type(even) {
		background: #F0A350;
	}
}


#life-career-skills {
	@include life-career-skills;
}


@mixin profile-stats {
	
	font-family: 'ColaborateLightRegular', Arial, sans-serif;
	background-color: #E9E9E9; 
	border: 0px;
	margin-top: 1em;

	tr:nth-of-type(even) {
		background: #E9E9E9;
	}

	.profile-label {
		color: #2f7ed8;
		font-size: 90%;
	}

	.profile-details {
		color: #153a54;
		font-size: 120%;
	}
}

#profile-stats {
	@include profile-stats;
}

#student-attendance-percent {
	font-weight: bold;
	font-family: 'Francois One', sans-serif;
	font-size: 300%;
	color: #153a54;
	margin-top: 0.3em;
}

#student-attendance-caption {
	font-family: 'ColaborateLightRegular', Arial, sans-serif;
	color: #153a54;
	margin-bottom: 2.5em;
}


#quicklinks {
	@include quicklinks;
}

#knowledgeModal {
	@include main-header-group;
	@include table;
	@include list;
}

#flyfishingModal {
	@include main-header-group;
	@include flyFishingModal;
	@include table;
} 


#scienceModal {
	@include main-header-group;
	@include list;
	@include table;
}

#engineeringModal {
	@include main-header-group;
	@include list;
	@include table;
}

#techModal {
	@include main-header-group;
	@include list;
	@include table;
}


#mathModal {
	@include main-header-group;
	@include list;
	@include table;
}

#attendanceModal {
	@include main-header-group;
	@include list;
	@include table;
}


#life-career-skills .avg-hours {
	@include white-text;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

#lifeCareerModal {
	@include main-header-group;
	@include numberCircleLife;
	@include list;
	@include table;
	@include lifeCareerModal;
}

.na {
	color: #ffffff;
	font-family: 'Francois One', sans-serif;
	font-size:150%;
	margin-top: 3em;
}


